* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #121212;
  color: #f1f1f1;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #f1f1f1;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

.chat-display {
  width: 100%;
  /* max-width: 600px; */
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  /* max-height: 300px; */
}

.post {
  background-color: #333;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.post--left {
  align-self: flex-start;
  max-width: 70%;
  background-color: #03dac5;
}

.post--right {
  align-self: flex-end;
  max-width: 70%;
  background-color: #bb86fc;
  margin-left: auto; /* Ensures this element stays to the right */
}

.post__header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #ffffff; /* Set the text color */
  background-color: #444; /* Set the background color */
  padding: 0.5rem; /* Add padding for better spacing */
  border-radius: 5px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.post__header--name {
  font-weight: bold;
}

.post__text {
  margin-top: 0.5rem;
}

.info-section {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.activity {
  font-style: italic;
  color: #bbb;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
    gap: 0.5rem;
  }

  input,
  button {
    width: 100%;
  }

  .chat-display {
    max-height: 200px;
  }

  .info-section {
    flex-direction: column;
    gap: 0.5rem;
  }
}
